<!doctype html>
<html>
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Marathon Training Program</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ('../partials/head.ejs') -%> 

    <link rel="stylesheet" href="css/startup-materialize.min.css">
    

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
  </head>
  <body>

    <!-- Navbar -->
    <nav style= "background: #cbdc00;" class="navbar navbar-solid-transition" >
      <%- include ('../partials/header.ejs') -%>
    

        <a href="#" data-target="slide-out" class="sidenav-trigger button-collapse right"><i class="material-icons white-text">menu</i></a>
      </div>
    </nav>
    <ul id="slide-out" class="sidenav">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-teal active">Pages</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="horizontal-half.html">Horizontal Halves</a></li>
                <li><a href="sierra.html">Zoom Out</a></li>
                <li><a href="circle-reveal.html">Circle Reveal</a></li>
                <li><a href="phone-wall.html">Phone Wall</a></li>
                <li><a href="element-transitions.html">Element Transitions</a></li>
                <li><a class="active" href="basic-elements.html">Basic Elements</a></li>
                <li><a href="card-shuffle.html">Shuffle</a></li>
                <li><a href="postcards.html">Postcards</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a class="waves-effect waves-teal" href="blog.html">Your Strava Data</a></li>
      <li><a class="waves-effect waves-teal" href="team.html">Team</a></li>
      <li><a class="waves-effect waves-teal" href="docs/about.html">Docs</a></li>
      <li><a class="waves-effect waves-teal" href="#">Buy Now!</a></li>
    </ul>

    <div class="section header">
     
      <div class="header-wrapper row valign-wrapper">
        <div class="col s12">
          <h1 style= "color: #cbdc00;">Marathon Training Program</h1>
          <button size: 70px; class="read-more"><img src= "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/sports-medal_1f3c5.png"></button>
        </div>
      </div>
    </div>

    <!-- Features -->
    

    <!-- Clients -->
    <div class="section black clients">
      <div class="container">
        <h2 class="section-title">Past Races</h2>
      </div>
      <div class="row">
        <a href="#!" class="col s12 m6 l4 client black">
          <img class="logo" src="https://i.imgur.com/3KEOLq1.jpg" alt="google">
          <span class="title">Berlin</span>
        </a>
        <a style= "background: #cbdc00" href="#!" class="col s12 m6 l4 client black">
          <img class="logo" src="https://i.imgur.com/loxmWgn.jpg" alt="snapchat">
          <span class="title">Brooklyn</span>
        </a>
        <a href="#!" class="col s12 m6 l4 client black" style= "background: #cbdc00">
          <img class="logo" src="https://i.imgur.com/oDO3Txm.jpg" alt="messenger">
          <span class="title">NYC</span>
        </a>
        <a href="#!" class="col s12 m6 l4 client black">
          <img class="logo" src="https://i.imgur.com/oDO3Txm.jpg" alt="pinterest">
          <span class="title">NYC</span>
        </a>
        <a href="#!" class="col s12 m6 l4 client black">
          <img class="logo" src="https://i.imgur.com/4Z43hB9.jpg" alt="dribbble">
          <span class="title">Boston </span>
        </a>
        <a href="#!" class="col s12 m6 l4 client black">
          <img class="logo" src="https://i.imgur.com/oDO3Txm.jpg" alt="medium">
          <span class="title">NYC</span>
        </a>
      </div>
    </div>

    <!-- Pricing Tables -->

    
       

        
        
          

        </div>
      </div>
    </div>

    <!-- Blog -->
    <div style= "background: #cbdc00" class="section light full-height">
      <div background= "color: #cbdc00;" class="container">
        <div background= "color: #cbdc00;" class="row">
          <div class="col s12 center">
            <h1>Your Strava Data</h1>
            <div class="row masonry-grid">
              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <iframe height='500' width='300' frameborder='0' allowtransparency='true' scrolling='yes' src='https://www.strava.com/athletes/41240343/latest-rides/29e8e31373674e246d80850b8ace55c1d3fd5a5e'></iframe>
                    <div id="data"></div>
                    <span class="card-title">Your Run Log</span>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                   <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/41240343/activity-summary/29e8e31373674e246d80850b8ace55c1d3fd5a5e'></iframe>
                    <div id="data"></div>
                    <span class="card-title">Your Recent PR</span>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/852256/embed'></iframe> <div id="data"></div>
                  
                    <span class="card-title">Click Bait Article</span>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/7041089/embed'></iframe>
                    <span class="card-title"></span>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <iframe height='500' width='300' frameborder='0' allowtransparency='true' scrolling='yes' src='https://www.strava.com/athletes/41240343/latest-rides/29e8e31373674e246d80850b8ace55c1d3fd5a5e'></iframe>
        
                    <span class="card-title"></span>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/segments/852256/embed'></iframe>
                    <span class="card-title"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Google Maps -->
   

    <!-- Contact Us -->

    <div class="container">
      <div class= "board">
       
       
     <h2>Choose your week🏅</h2>
     <div class="schedules">
       <% schedules.forEach( schedule => { %>
         <div class="card">
           <h5>Week <%= schedule.weeknumber %></h5>
           
           <a href="/schedules/<%=schedule.id%>">
             <img src="<%= schedule.img %>" alt="An image of <%= schedule.name %>" /></a>
             <h6>Miles Prescribed: <%=schedule.price %></h6>
             <a href="/schedules/<%=schedule.id%>">
             <iframes height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no'  src="<%= schedule.iframe %>" alt="An image of <%= schedule.iframe %>" /></a>

         </div>
       <% }) %>
     </div>
  
   </div>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>

    <!-- External libraries -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY_HERE"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/ScrollMagic.min.js"></script>
    <script src="js/animation.gsap.min.js"></script>

    <!-- Initialization script -->
    <script src="js/startup.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
<style>


  .container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}


.schedules {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 820px) {
    .card {
        flex-basis: 28%;
    }
    .container{
      width: 95%;
    }
}

.container {
  max-width: 37.5em;
  margin: auto;
  margin-top: 2em;
}

.card {
  flex-basis: 20%;
  text-align: center;
  padding: .3em;
  margin: .5em;
  box-shadow: 1px 1px 2px #cbdc00, -1px 1px 2px #cbdc00;
  border-radius: 0px;
  background-color: black;
  color: white;
  height: 237px;
  overflow: scroll;
  
}
.card:hover {

background-color: black;
color: #FFF5EC;
}

.card h5 {
  padding-top: 1em;
  font-size: 1em;
}

img {
  max-width: 90%;
  max-height: 10vmax;
}

.card img:hover {
  box-shadow: 0 0 8px #96DADD;
}


p {
  max-width:70%;
  margin: auto;
}

.jumbo-img {
  max-width: 90%;
  max-height: 25vmax;
}

.jumbo {
  margin:auto;
  width:90%;
  text-align: center;
  padding: .3em;
  margin: 1em;
  background-color: black;
  color: white;
  border-radius: 10%;
  border: .2em solid black;
}

.new-schedule {
  background-color: black;
  margin-top: 1em;
  text-align: center;
  margin-right: 2em;
}
@media only screen and (max-width: 530px) {
  .container{
    margin-top: 12em;
    width: 95%;
  }
  .card {
      flex-basis: 43%;
  }

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
div.section.light.full-height{
  background-color: #cbdc00 !important;
}
h1{
  color: #cbdc00 !important; 
}
}
</style>