<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') -%>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <%- include ('../partials/header.ejs') -%>
    </nav>
    <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    <div class="center">
      <iframe height='500' width='300' frameborder='0' allowtransparency='true' scrolling='yes' src='https://www.strava.com/athletes/41240343/latest-rides/29e8e31373674e246d80850b8ace55c1d3fd5a5e'></iframe>
      <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/41240343/activity-summary/29e8e31373674e246d80850b8ace55c1d3fd5a5e'></iframe></div>
      <div id="data"></div>
      <br>
      <br>
      <br>
      <br>
      <br>


    <div class="container">
        
        
        
      <h2>Choose your week🏅</h2>
      <div class="schedules">
        <% schedules.forEach( schedule => { %>
          <div class="card">
            <h5>Week <%= schedule.weeknumber %></h5>
            
            <a href="/schedules/<%=schedule.id%>">
              <img src="<%= schedule.img %>" alt="An image of <%= schedule.name %>" /></a>
              <h6>Miles Prescribed: <%=schedule.price %></h6>
              <a href="/schedules/<%=schedule.id%>">
              <iframes height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no'  src="<%= schedule.iframe %>" alt="An image of <%= schedule.iframe %>" /></a>

          </div>
        <% }) %>
      </div>
   
    </div>
    
  </body>
</html>

<style>
  
</style>